<h1>My donations</h1>

<div class="table-responsive">
  <table class="table table-bordered table-striped table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Donation type</th>
        <th scope="col">Donated at</th>
      </tr>
    </thead>
    <tbody>
      <% @donations.each do |donation| %>
        <tr>
          <th scope="row"><%= donation.id %></th>
          <td><%= donation.donation_type.name %></td>
          <td><%= donation.donated_at.to_s(:long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
